<!-- blog/templates/blog/category.html -->
{% extends "blog/base.html" %}

{% load static %}

{% block page_content %}



{% block page_title %}


{% endblock page_title %}

<div class="container">
    <h4 class="fw-normal text-primary">{{ category }}</h4>
    <hr>
    <div class="row mb-2">
        {% for post in posts %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ post.title }}</h3>
                        <p class="card-text mb-auto">{{ post.intro }}</p>
                        <a href="{% url 'blog_detail' post.pk %}" class="stretched-link">Continue reading</a>
                    </div>
                
                    <div class="col-auto d-none d-lg-block">
                        {% if post.featured_image %}
                            <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="bd-placeholder-img" width="200" height="250">
                        {% else %}
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>        
{% endblock page_content %}